:root {
    --main: #f2f6f7;
}

.vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.horizontal-center {
    display: flex;
    justify-content: center;
}

.none-user-select {
    user-select: none;
}

.text-center {
    text-align: center;
}

.padding-top_10 {
    padding-top: 10px;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Varela Round", sans-serif;
    background-image: url("./images/bg.jpeg");
}

h1 {
    font-size: 72px;
    font-family: "Pacifico", cursive;
}

#wrap div {
    border: none;
    height: 200px;
}

#wrap div button {
    padding: 10px;
    cursor: pointer;
    background: none;
    border: 1px solid;
    border-radius: 100%;
}

#wrap div button:hover {
    background: var(--main)
}

#calendar {
    width: 300px;
    height: 200px;
    font-size: 1rem;
    font-family: "Varela Round", cursive;
}


table#calendar > tbody > tr:nth-child(n + 2) > td {
    cursor: pointer;
}

table#calendar > tbody > tr:nth-child(n + 2) > td:hover {
    background: var(--main)
}

table#calendar > tbody > tr > td[data-empty="true"] {
    cursor: default;
}

table#calendar > tbody > tr > td[data-empty="true"]:hover {
    background: none
}